.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer";
  grid-template-rows: 3em 1fr 70px;
  grid-template-columns: 20% 1fr 20%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  /* height: 100vh; */
  margin: 0;
  background-color: rgb(228, 228, 228);
}
header,
footer,
main {
  padding: 1.2em;
}

#pageHeader {
  grid-area: header;
}

#pageFooter {
  grid-area: footer;
}
#main {
  grid-area: main;
  background-color: rgb(228, 228, 228);
  min-height: 100vh;
  /* height: 100vh; */
}
#Auth {
  grid-area: main;
  height: 100vh;
  background-color: rgb(228, 228, 228);
  text-align: center;
  margin-top: 5em;
}

#leftspace {
  grid-area: left;
  background-color: rgb(228, 228, 228);
}
#rightspace {
  grid-area: right;
  background-color: rgb(228, 228, 228);
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  .App {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-rows: 60px 2fr 70px;
    grid-template-columns: 1fr;
    /* height: 1em; */
  }
}
#leftspace {
  display: none;
}
#rightspace {
  display: none;
}

.loading {
  text-align: center;
  margin-top: 10em;
}
