h1 {
  text-align: center;
  font-weight: bold;
}

.link {
  text-decoration: none;
}

.navbar-brand {
  padding-bottom: 0;
}

p {
  text-decoration: none;
}

a {
  color: rgb(37, 37, 37) !important;
}

#heartIcon {
  color: rgb(224, 85, 85);
}
